CreateReport-DD23AE15-2139-EB11-A813-000D3A8E4ACE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail_1":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"GetInspection_FilterQuery":{"type":"string","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).. This parameter is used as part of \"A63FC7DC-18B4-4541-BE1F-A5365B005A97\"","x-ms-powerflows-param-ispartial":true},"GetGuidelines_FilterQuery":{"type":"string","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).. This parameter is used as part of \"9E86851E-C781-48F1-B549-1D3C5F819374\"","x-ms-powerflows-param-ispartial":true},"CreateReport_MaskWorn":{"type":"boolean","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_OneMetreDistance":{"type":"boolean","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_PersonsCount":{"type":"integer","format":"int32","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_Comments":{"type":"string","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_MaximumAge":{"type":"integer","format":"int32","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_MinimumAge":{"type":"integer","format":"int32","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_PPEKitWorn":{"type":"boolean","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_SanitizersAvailability":{"type":"boolean","description":"","x-ms-powerflows-param-ispartial":false},"CreateReport_TemperatureChecked":{"type":"boolean","description":"","x-ms-powerflows-param-ispartial":false}},"required":["GetInspection_FilterQuery","GetGuidelines_FilterQuery","CreateReport_MaskWorn","CreateReport_OneMetreDistance","CreateReport_PersonsCount","CreateReport_Comments","CreateReport_MaximumAge","CreateReport_MinimumAge","CreateReport_PPEKitWorn","CreateReport_SanitizersAvailability","CreateReport_TemperatureChecked"]}}}},"actions":{"Get_Inspection":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_inspectionrecordses","$filter":"ais_name eq '@{triggerBody()['GetInspection_FilterQuery']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Guidelines":{"runAfter":{"Get_Inspection":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_guidelineses","$filter":"ais_category eq '@{triggerBody()['GetGuidelines_FilterQuery']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Inspection":{"runAfter":{"Get_Guidelines":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_Inspection')?['body/value'][0]","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"ais_inspectionrecordsid@odata.type":{"type":"string"},"ais_inspectionrecordsid":{"type":"string"},"ais_organisationname":{"type":"string"},"_owningbusinessunit_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_owningbusinessunit_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_owningbusinessunit_value@odata.type":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"ais_organizationemail":{"type":"string"},"ais_inspectionaddress":{"type":"string"},"statecode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statecode":{"type":"integer"},"ais_inspectedby":{"type":"string"},"_createdby_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_createdby_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_createdby_value@odata.type":{"type":"string"},"_createdby_value":{"type":"string"},"timezoneruleversionnumber@OData.Community.Display.V1.FormattedValue":{"type":"string"},"timezoneruleversionnumber":{"type":"integer"},"ais_inspectiondate@OData.Community.Display.V1.FormattedValue":{"type":"string"},"ais_inspectiondate@odata.type":{"type":"string"},"ais_inspectiondate":{"type":"string"},"_ownerid_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_ownerid_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_ownerid_value@odata.type":{"type":"string"},"_ownerid_value":{"type":"string"},"ais_name":{"type":"string"},"modifiedon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"modifiedon@odata.type":{"type":"string"},"modifiedon":{"type":"string"},"_owninguser_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_owninguser_value@odata.type":{"type":"string"},"_owninguser_value":{"type":"string"},"_modifiedby_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_modifiedby_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_modifiedby_value@odata.type":{"type":"string"},"_modifiedby_value":{"type":"string"},"versionnumber@OData.Community.Display.V1.FormattedValue":{"type":"string"},"versionnumber@odata.type":{"type":"string"},"versionnumber":{"type":"integer"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"},"ais_calenderid":{"type":"string"},"statuscode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statuscode":{"type":"integer"},"owningbusinessunit@odata.associationLink":{"type":"string"},"owningbusinessunit@odata.navigationLink":{"type":"string"},"ownerid@odata.associationLink":{"type":"string"},"ownerid@odata.navigationLink":{"type":"string"},"createdby@odata.associationLink":{"type":"string"},"createdby@odata.navigationLink":{"type":"string"},"createdonbehalfby@odata.associationLink":{"type":"string"},"createdonbehalfby@odata.navigationLink":{"type":"string"},"modifiedby@odata.associationLink":{"type":"string"},"modifiedby@odata.navigationLink":{"type":"string"},"modifiedonbehalfby@odata.associationLink":{"type":"string"},"modifiedonbehalfby@odata.navigationLink":{"type":"string"},"owninguser@odata.associationLink":{"type":"string"},"owninguser@odata.navigationLink":{"type":"string"},"owningteam@odata.associationLink":{"type":"string"},"owningteam@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_SyncErrors@odata.associationLink":{"type":"string"},"ais_inspectionrecords_SyncErrors@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_DuplicateMatchingRecord@odata.associationLink":{"type":"string"},"ais_inspectionrecords_DuplicateMatchingRecord@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_DuplicateBaseRecord@odata.associationLink":{"type":"string"},"ais_inspectionrecords_DuplicateBaseRecord@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_AsyncOperations@odata.associationLink":{"type":"string"},"ais_inspectionrecords_AsyncOperations@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_MailboxTrackingFolders@odata.associationLink":{"type":"string"},"ais_inspectionrecords_MailboxTrackingFolders@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_UserEntityInstanceDatas@odata.associationLink":{"type":"string"},"ais_inspectionrecords_UserEntityInstanceDatas@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_ProcessSession@odata.associationLink":{"type":"string"},"ais_inspectionrecords_ProcessSession@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_BulkDeleteFailures@odata.associationLink":{"type":"string"},"ais_inspectionrecords_BulkDeleteFailures@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_PrincipalObjectAttributeAccesses@odata.associationLink":{"type":"string"},"ais_inspectionrecords_PrincipalObjectAttributeAccesses@odata.navigationLink":{"type":"string"},"ais_inspectionrecords_Annotations@odata.associationLink":{"type":"string"},"ais_inspectionrecords_Annotations@odata.navigationLink":{"type":"string"},"ais_Report_InspectionID_ais_InspectionRec@odata.associationLink":{"type":"string"},"ais_Report_InspectionID_ais_InspectionRec@odata.navigationLink":{"type":"string"}}}}},"Guidelines":{"runAfter":{"Inspection":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_Guidelines')?['body/value'][0]","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"_owningbusinessunit_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_owningbusinessunit_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_owningbusinessunit_value@odata.type":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"statecode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statecode":{"type":"integer"},"statuscode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statuscode":{"type":"integer"},"_createdby_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_createdby_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_createdby_value@odata.type":{"type":"string"},"_createdby_value":{"type":"string"},"_ownerid_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_ownerid_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_ownerid_value@odata.type":{"type":"string"},"_ownerid_value":{"type":"string"},"modifiedon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"modifiedon@odata.type":{"type":"string"},"modifiedon":{"type":"string"},"_modifiedby_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_modifiedby_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_modifiedby_value@odata.type":{"type":"string"},"_modifiedby_value":{"type":"string"},"ais_pperequired@OData.Community.Display.V1.FormattedValue":{"type":"string"},"ais_pperequired":{"type":"boolean"},"ais_category":{"type":"string"},"_owninguser_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_owninguser_value@odata.type":{"type":"string"},"_owninguser_value":{"type":"string"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"},"ais_personslimit@OData.Community.Display.V1.FormattedValue":{"type":"string"},"ais_personslimit":{"type":"integer"},"versionnumber@OData.Community.Display.V1.FormattedValue":{"type":"string"},"versionnumber@odata.type":{"type":"string"},"versionnumber":{"type":"integer"},"ais_guidelinesid@odata.type":{"type":"string"},"ais_guidelinesid":{"type":"string"},"owningbusinessunit@odata.associationLink":{"type":"string"},"owningbusinessunit@odata.navigationLink":{"type":"string"},"ownerid@odata.associationLink":{"type":"string"},"ownerid@odata.navigationLink":{"type":"string"},"createdby@odata.associationLink":{"type":"string"},"createdby@odata.navigationLink":{"type":"string"},"createdonbehalfby@odata.associationLink":{"type":"string"},"createdonbehalfby@odata.navigationLink":{"type":"string"},"modifiedby@odata.associationLink":{"type":"string"},"modifiedby@odata.navigationLink":{"type":"string"},"modifiedonbehalfby@odata.associationLink":{"type":"string"},"modifiedonbehalfby@odata.navigationLink":{"type":"string"},"owninguser@odata.associationLink":{"type":"string"},"owninguser@odata.navigationLink":{"type":"string"},"owningteam@odata.associationLink":{"type":"string"},"owningteam@odata.navigationLink":{"type":"string"},"ais_guidelines_SyncErrors@odata.associationLink":{"type":"string"},"ais_guidelines_SyncErrors@odata.navigationLink":{"type":"string"},"ais_guidelines_DuplicateMatchingRecord@odata.associationLink":{"type":"string"},"ais_guidelines_DuplicateMatchingRecord@odata.navigationLink":{"type":"string"},"ais_guidelines_DuplicateBaseRecord@odata.associationLink":{"type":"string"},"ais_guidelines_DuplicateBaseRecord@odata.navigationLink":{"type":"string"},"ais_guidelines_AsyncOperations@odata.associationLink":{"type":"string"},"ais_guidelines_AsyncOperations@odata.navigationLink":{"type":"string"},"ais_guidelines_MailboxTrackingFolders@odata.associationLink":{"type":"string"},"ais_guidelines_MailboxTrackingFolders@odata.navigationLink":{"type":"string"},"ais_guidelines_UserEntityInstanceDatas@odata.associationLink":{"type":"string"},"ais_guidelines_UserEntityInstanceDatas@odata.navigationLink":{"type":"string"},"ais_guidelines_ProcessSession@odata.associationLink":{"type":"string"},"ais_guidelines_ProcessSession@odata.navigationLink":{"type":"string"},"ais_guidelines_BulkDeleteFailures@odata.associationLink":{"type":"string"},"ais_guidelines_BulkDeleteFailures@odata.navigationLink":{"type":"string"},"ais_guidelines_PrincipalObjectAttributeAccesses@odata.associationLink":{"type":"string"},"ais_guidelines_PrincipalObjectAttributeAccesses@odata.navigationLink":{"type":"string"},"ais_Report_LocationType_ais_Guidelines@odata.associationLink":{"type":"string"},"ais_Report_LocationType_ais_Guidelines@odata.navigationLink":{"type":"string"},"ais_tempearturecheckrequired@OData.Community.Display.V1.FormattedValue":{"type":"string"},"ais_tempearturecheckrequired":{"type":"boolean"},"ais_maximumagelimit@OData.Community.Display.V1.FormattedValue":{"type":"string"},"ais_maximumagelimit":{"type":"integer"},"ais_minimumagelimit@OData.Community.Display.V1.FormattedValue":{"type":"string"},"ais_minimumagelimit":{"type":"integer"}}}}},"Create_Report":{"runAfter":{"Guidelines":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_reports","item/ais_InspectionID@odata.bind":" @{body('Inspection')?['@odata.editLink']}","item/ais_LocationType@odata.bind":"@{body('Guidelines')?['@odata.editLink']} ","item/ais_maskworn":"@triggerBody()['CreateReport_MaskWorn']","item/ais_onemetredistance":"@triggerBody()['CreateReport_OneMetreDistance']","item/ais_personscount":"@triggerBody()['CreateReport_PersonsCount']","item/ais_comments":"@triggerBody()['CreateReport_Comments']","item/ais_maximumage":"@triggerBody()['CreateReport_MaximumAge']","item/ais_minimumage":"@triggerBody()['CreateReport_MinimumAge']","item/ais_ppekitworn":"@triggerBody()['CreateReport_PPEKitWorn']","item/ais_reportstatus":914530001,"item/ais_sanitizersavailability":"@triggerBody()['CreateReport_SanitizersAvailability']","item/ais_seen":false,"item/ais_temperaturechecked":"@triggerBody()['CreateReport_TemperatureChecked']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_and_Validate":{"actions":{"Condition":{"actions":{"Approve_report":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_reports","recordId":"@outputs('Create_Report')?['body/ais_reportid']","item/ais_reportstatus":873850000},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_email_notification_(V3)":{"runAfter":{"Approve_report":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail_1","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{body('Inspection')?['ais_organizationemail']};","request/subject":"Your inspection has been approved!","request/text":"<div style=\"background-image:url('https://i.pinimg.com/originals/56/e3/63/56e363f8db0457bcb61ccebd388b3f84.png'); padding: 70px 10px 100px 10px; background-repeat: no-repeat; font-family: 'Times New Roman', serif; background-size: 600px 792px;\">\n\n<h1 style=\"text-align: center;\"><u> Agency of Inspection (A.O.I) </u></h1>\n<hr>\n<br><br>\n<p style=\"text-align: center;\"> Date of report: @{formatDateTime(utcNow(), 'f')} </p>\n<p style=\"text-align: center;\"> Report ID: @{outputs('Approve_report')?['body/ais_id']}  </p>\n<br>\n<table style=\" border: 2px solid black; padding: 30px; width: 80%; margin-left:auto; margin-right:auto;text-align: left;\">\n  <tr style=\"border-bottom: 1px solid #ddd; height: 30px;\">\n    <th>Parameter</th>\n    <th>Remark</th>\n  </tr>\n<tr>\n<td> Inspection ID: </td>\n<td>@{body('Inspection')?['ais_name']} </td>\n</tr>\n  <tr>\n    <td>Organization:</td>\n    <td>@{body('Inspection')?['ais_organisationname']}</td>\n  </tr>\n<tr>\n    <td>Address:</td>\n    <td>@{body('Inspection')?['ais_inspectionaddress']}</td>\n  </tr>\n  <tr>\n    <td>Inspection Date:</td>\n    <td>@{formatDateTime(body('Inspection')?['ais_inspectiondate'],'D')}</td>\n  </tr>\n<tr>\n    <td>Inspection Time:</td>\n    <td>@{formatDateTime(body('Inspection')?['ais_inspectiondate'], 't')}</td>\n  </tr>\n  <tr>\n    <td>Inspected By:</td>\n    <td>@{body('Inspection')?['ais_inspectedby']}</td>\n  </tr>\n  <tr>\n    <td>Report Status</td>\n    <td style=\"color:Blue;\">Approved</td>\n</tr>\n</table>\n<br>\n<hr>\n<br>\nPlease let us know how was your experience <a href=\"https://forms.office.com/Pages/ResponsePage.aspx?id=t3urMF_DcUacCRRgBNZ_m78VEUK0nRVEuqFQo0zjQHFUOFJWSlYxNElLNVdaOFpaVk5KUFA3SFJJWC4u\"> Provide feedback here!</a> or Scan QR Code <img src=\"https://southcentralus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Faismpp-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!pqbjyxTSeES7VoizF7CxnYfbMD4BL2VMhSpgcsmve2HDcN4IyPFCSrv8GROP-2KS%2Fitems%2F01MTUYMHQVHSFK3CSLCZCYWFBCIXQL3OLS%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYWlzbXBwLW15LnNoYXJlcG9pbnQuY29tQDMwYWI3YmI3LWMzNWYtNDY3MS05YzA5LTE0NjAwNGQ2N2Y5YiIsImlzcyI6IjAwMDAwMDAzLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMCIsIm5iZiI6IjE2MDc1OTA4MDAiLCJleHAiOiIxNjA3NjEyNDAwIiwiZW5kcG9pbnR1cmwiOiI2UGJNb2hYZlozMVhVV2JTMENjOUNHTEdLOWVGZUFPN0RSdmNFZFFFM2dnPSIsImVuZHBvaW50dXJsTGVuZ3RoIjoiMTE2IiwiaXNsb29wYmFjayI6IlRydWUiLCJ2ZXIiOiJoYXNoZWRwcm9vZnRva2VuIiwic2l0ZWlkIjoiWTJKbE0yRTJZVFl0WkRJeE5DMDBORGM0TFdKaU5UWXRPRGhpTXpFM1lqQmlNVGxrIiwic2lnbmluX3N0YXRlIjoiW1wia21zaVwiXSIsIm5hbWVpZCI6IjAjLmZ8bWVtYmVyc2hpcHx1c2VyNkBhaXNtcHAub25taWNyb3NvZnQuY29tIiwibmlpIjoibWljcm9zb2Z0LnNoYXJlcG9pbnQiLCJpc3VzZXIiOiJ0cnVlIiwiY2FjaGVrZXkiOiIwaC5mfG1lbWJlcnNoaXB8MTAwMzIwMDBmYjg2YzRlN0BsaXZlLmNvbSIsInR0IjoiMCIsInVzZVBlcnNpc3RlbnRDb29raWUiOiIzIn0.ZlhNaEpoK2VuYXV3Zm5hZ2ljTk83dnkyMWw1cU55RXgvT2UyZExpK2ZFQT0&encodeFailures=1&srcWidth=&srcHeight=&width=800&height=800&action=Access\" style=\"width:100px;height:100px; margin-left:auto; margin-right:auto;\" /></p>\nThank You!\n</div>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"else":{"actions":{"Reject_report":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_reports","recordId":"@outputs('Create_Report')?['body/ais_reportid']","item/ais_reportstatus":873850001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_email_notification_(V3)_2":{"runAfter":{"Reject_report":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail_1","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{body('Inspection')?['ais_organizationemail']};","request/subject":"Your inspection has been rejected","request/text":"<div style=\"background-image:url('https://i.pinimg.com/originals/56/e3/63/56e363f8db0457bcb61ccebd388b3f84.png'); padding: 70px 10px 100px 10px; background-repeat: no-repeat; font-family: 'Times New Roman', serif; background-size: 600px 792px;\">\n\n<h1 style=\"text-align: center;\"><u> Agency of Inspection (A.O.I) </u></h1>\n<hr>\n<br><br>\n<p style=\"text-align: center;\"> Date of report: @{formatDateTime(utcNow(),'f')} </p>\n<p style=\"text-align: center;\"> Report ID: @{outputs('Reject_report')?['body/ais_id']}  </p>\n<br>\n<table style=\" border: 2px solid black; padding: 30px; width: 80%; margin-left:auto; margin-right:auto;text-align: left;\">\n  <tr style=\"border-bottom: 1px solid #ddd; height: 30px;\">\n    <th>Parameter</th>\n    <th>Remark</th>\n  </tr>\n<tr>\n<td> Inspection ID: </td>\n<td>@{body('Inspection')?['ais_name']} </td>\n</tr>\n  <tr>\n    <td>Organization:</td>\n    <td>@{body('Inspection')?['ais_organisationname']}</td>\n  </tr>\n<tr>\n    <td>Address:</td>\n    <td>@{body('Inspection')?['ais_inspectionaddress']}</td>\n  </tr>\n  <tr>\n    <td>Inspection Date:</td>\n    <td>@{formatDateTime(body('Inspection')?['ais_inspectiondate'],'D')}</td>\n  </tr>\n<tr>\n<td>Inspection Time:</td>\n<td>@{formatDateTime(body('Inspection')?['ais_inspectiondate'], 't')}</td>\n</tr>\n  <tr>\n    <td>Inspected By:</td>\n    <td>@{body('Inspection')?['ais_inspectedby']}</td>\n  </tr>\n  <tr>\n    <td>Report Status</td>\n    <td style=\"color:Red;\">Rejected</td>\n</tr>\n</table>\n<br>\n<hr>\n<br>\nPlease let us know how was your experience <a href=\"https://forms.office.com/Pages/ResponsePage.aspx?id=t3urMF_DcUacCRRgBNZ_m78VEUK0nRVEuqFQo0zjQHFUOFJWSlYxNElLNVdaOFpaVk5KUFA3SFJJWC4u\"> Provide feedback here!</a> or Scan QR Code <img src=\"https://southcentralus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Faismpp-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!pqbjyxTSeES7VoizF7CxnYfbMD4BL2VMhSpgcsmve2HDcN4IyPFCSrv8GROP-2KS%2Fitems%2F01MTUYMHQVHSFK3CSLCZCYWFBCIXQL3OLS%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYWlzbXBwLW15LnNoYXJlcG9pbnQuY29tQDMwYWI3YmI3LWMzNWYtNDY3MS05YzA5LTE0NjAwNGQ2N2Y5YiIsImlzcyI6IjAwMDAwMDAzLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMCIsIm5iZiI6IjE2MDc1OTA4MDAiLCJleHAiOiIxNjA3NjEyNDAwIiwiZW5kcG9pbnR1cmwiOiI2UGJNb2hYZlozMVhVV2JTMENjOUNHTEdLOWVGZUFPN0RSdmNFZFFFM2dnPSIsImVuZHBvaW50dXJsTGVuZ3RoIjoiMTE2IiwiaXNsb29wYmFjayI6IlRydWUiLCJ2ZXIiOiJoYXNoZWRwcm9vZnRva2VuIiwic2l0ZWlkIjoiWTJKbE0yRTJZVFl0WkRJeE5DMDBORGM0TFdKaU5UWXRPRGhpTXpFM1lqQmlNVGxrIiwic2lnbmluX3N0YXRlIjoiW1wia21zaVwiXSIsIm5hbWVpZCI6IjAjLmZ8bWVtYmVyc2hpcHx1c2VyNkBhaXNtcHAub25taWNyb3NvZnQuY29tIiwibmlpIjoibWljcm9zb2Z0LnNoYXJlcG9pbnQiLCJpc3VzZXIiOiJ0cnVlIiwiY2FjaGVrZXkiOiIwaC5mfG1lbWJlcnNoaXB8MTAwMzIwMDBmYjg2YzRlN0BsaXZlLmNvbSIsInR0IjoiMCIsInVzZVBlcnNpc3RlbnRDb29raWUiOiIzIn0.ZlhNaEpoK2VuYXV3Zm5hZ2ljTk83dnkyMWw1cU55RXgvT2UyZExpK2ZFQT0&encodeFailures=1&srcWidth=&srcHeight=&width=800&height=800&action=Access\" style=\"width:100px;height:100px; margin-left:auto; margin-right:auto;\" /></p>\nThank You!\n</div>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"and":[{"greaterOrEquals":["@body('Guidelines')?['ais_personslimit']","@outputs('Create_Report')?['body/ais_personscount']"]},{"or":[{"equals":["@body('Guidelines')?['ais_maximumagelimit']","@null"]},{"not":{"equals":["@outputs('Create_Report')?['body/ais_maximumage']","@null"]}},{"greaterOrEquals":["@body('Guidelines')?['ais_maximumagelimit']","@outputs('Create_Report')?['body/ais_maximumage']"]}]},{"or":[{"equals":["@body('Guidelines')?['ais_minimumagelimit']","@null"]},{"not":{"equals":["@outputs('Create_Report')?['body/ais_minimumage']","@null"]}},{"lessOrEquals":["@body('Guidelines')?['ais_minimumagelimit']","@outputs('Create_Report')?['body/ais_minimumage']"]}]},{"or":[{"equals":["@body('Guidelines')?['ais_pperequired']","@bool(false)"]},{"equals":["@body('Guidelines')?['ais_pperequired']","@outputs('Create_Report')?['body/ais_ppekitworn']"]}]},{"or":[{"equals":["@body('Guidelines')?['ais_tempearturecheckrequired']","@bool(false)"]},{"equals":["@body('Guidelines')?['ais_tempearturecheckrequired']","@outputs('Create_Report')?['body/ais_temperaturechecked']"]}]},{"equals":["@outputs('Create_Report')?['body/ais_maskworn']","@true"]},{"equals":["@outputs('Create_Report')?['body/ais_onemetredistance']","@true"]},{"equals":["@outputs('Create_Report')?['body/ais_sanitizersavailability']","@true"]}]},"type":"If"},"Update_Inspection_to_Inactive":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_inspectionrecordses","recordId":"@outputs('Create_Report')?['body/_ais_inspectionid_value']","item/statecode":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Create_Report":["Succeeded"]},"type":"Scope"},"Success_response":{"runAfter":{"Update_and_Validate":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"error":"@bool(false)"},"schema":{"type":"object","properties":{"error":{"title":"Error","x-ms-dynamically-added":true,"type":"boolean"}}}}},"Delete_Report":{"runAfter":{"Update_and_Validate":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_reports","recordId":"@outputs('Create_Report')?['body/ais_reportid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Failure_response":{"runAfter":{"Delete_Report":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"error":"@bool(true)"},"schema":{"type":"object","properties":{"error":{"title":"Error","x-ms-dynamically-added":true,"type":"boolean"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}