DailyReportReminder-2D704D4B-CB32-EB11-A813-000D3A8E4ACE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ais_sharedcommondataserviceforapps_0d073"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ais_sharedsendmail_f1fb2"},"api":{"name":"shared_sendmail"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ais_sharedexcelonlinebusiness_f93db"},"api":{"name":"shared_excelonlinebusiness"}},"shared_onedriveforbusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ais_sharedonedriveforbusiness_3d470"},"api":{"name":"shared_onedriveforbusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["10"]}},"type":"Recurrence"}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_reports","$filter":"createdon ge '@{addDays(utcNow(),-1)}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_inspectionrecordses","recordId":"@items('Apply_to_each')?['_ais_inspectionid_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"Get_a_record":["Succeeded"]},"else":{"actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Emails","value":"@outputs('Get_a_record')?['body/ais_inspectedby']"}}}},"expression":{"contains":["@variables('Emails')","@outputs('Get_a_record')?['body/ais_inspectedby']"]},"type":"If"},"Set_variable":{"runAfter":{"Condition":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Report","value":{"ID":"@items('Apply_to_each')?['ais_id']","Location":"@items('Apply_to_each')?['_ais_locationtype_value@OData.Community.Display.V1.FormattedValue']","Mask worn":"@if(bool(item()?['ais_maskworn']), 'Yes', 'No')","One metre distance maintained":"@if(bool(item()?['ais_onemetredistance']), 'Yes', 'No')","Sanitizers available":"@if(bool(item()?['ais_sanitizersavailability']), 'Yes', 'No')","Temperature checked":"@if(bool(item()?['ais_temperaturechecked']), 'Yes', 'No')","PPE kit worn":"@if(bool(item()?['ais_ppekitworn']), 'Yes', 'No')","Person count":"@items('Apply_to_each')?['ais_personscount']","Age recorded":"@{items('Apply_to_each')?['ais_minimumage']} - @{items('Apply_to_each')?['ais_maximumage']} years","Inspected by":"@{outputs('Get_a_record')?['body/ais_inspectedby']}"}}},"Append_to_array_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"Reports","value":"@variables('Report')"}}},"runAfter":{"Reports":["Succeeded"]},"type":"Foreach"},"Emails":{"runAfter":{"List_records":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Emails","type":"array","value":[]}]}},"Report":{"runAfter":{"Emails":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Report","type":"object"}]}},"Reports":{"runAfter":{"Report":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Reports","type":"array","value":[]}]}},"Apply_to_each_2":{"foreach":"@variables('Emails')","actions":{"Add_records_to_User_Reports":{"foreach":"@variables('Reports')","actions":{"Check_whether_current_report_is_generated_by_user":{"actions":{"Append_reports_to_User_Reports":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"User Reports","value":"@removeProperty(items('Add_records_to_User_Reports'),'Inspected by')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_2')","@items('Add_records_to_User_Reports')?['Inspected by']"]},"type":"If"}},"runAfter":{"Set_User_Reports_to_NULL":["Succeeded"]},"type":"Foreach"},"Send_an_email_notification_(V3)":{"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{items('Apply_to_each_2')};","request/subject":"Daily Reports Summary","request/text":"<center><h2 style=\"color:#35B091\">Reports</h2></center>\n<div>\n@{replace(body('Create_HTML_table'),'<table>','<table border=\"2\" style=\"border-collapse: collapse;border-color:#35B091;\"')}\n</div>\n<br>\n<div>\n<hr style=\"border: 1px solid #35B091\">\n<a href=\"@{outputs('Create_share_link_by_path')?['body/WebUrl']}\" style=\"color:#35B091\">Click to view the excel file</a>\n<hr style=\"border: 1px solid #35B091\">\n</div>"},"authentication":"@parameters('$authentication')"}},"Set_User_Reports_to_NULL":{"runAfter":{},"type":"SetVariable","inputs":{"name":"User Reports","value":[]}},"Parse_JSON_-_User_Reports":{"runAfter":{"Add_records_to_User_Reports":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@variables('User Reports')","schema":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"string"},"Location":{"type":"string"},"Mask worn":{"type":"string"},"One metre distance maintained":{"type":"string"},"Sanitizers available":{"type":"string"},"Temperature checked":{"type":"string"},"PPE kit worn":{"type":"string"},"Person count":{"type":"integer"},"Age recorded":{"type":"string"}},"required":["ID","Location","Mask worn","One metre distance maintained","Sanitizers available","Temperature checked","PPE kit worn","Person count","Age recorded"]}}}},"Add_records_to_the_template":{"foreach":"@body('Parse_JSON_-_User_Reports')","actions":{"Add_a_row_into_a_reports_table":{"runAfter":{},"metadata":{"01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X":"/Inspection Records/Reports.xlsx","tableId":"{33BD6BBA-6F72-4087-9ABC-0FEE4E8078AC}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!_tkVit5OJEWHcKWYlCKQCIfbMD4BL2VMhSpgcsmve2HDcN4IyPFCSrv8GROP-2KS","file":"01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X","table":"{33BD6BBA-6F72-4087-9ABC-0FEE4E8078AC}","item/ID":"@items('Add_records_to_the_template')['ID']","item/Location":"@items('Add_records_to_the_template')['Location']","item/Mask worn":"@items('Add_records_to_the_template')['Mask worn']","item/One metre distance maintained":"@items('Add_records_to_the_template')['One metre distance maintained']","item/Sanitizers available":"@items('Add_records_to_the_template')['Sanitizers available']","item/Temperature checked":"@items('Add_records_to_the_template')['Temperature checked']","item/PPE kit worn":"@items('Add_records_to_the_template')['PPE kit worn']","item/Person count":"@items('Add_records_to_the_template')['Person count']","item/Age recorded":"@items('Add_records_to_the_template')['Age recorded']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON_-_User_Reports":["Succeeded"]},"type":"Foreach"},"Create_copy_of_template_file_and_rename_it":{"runAfter":{"Add_records_to_the_template":["Succeeded"]},"metadata":{"b!_tkVit5OJEWHcKWYlCKQCIfbMD4BL2VMhSpgcsmve2HDcN4IyPFCSrv8GROP-2KS.01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X":"/Inspection Records/Reports.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CopyDriveFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"b!_tkVit5OJEWHcKWYlCKQCIfbMD4BL2VMhSpgcsmve2HDcN4IyPFCSrv8GROP-2KS.01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X","destination":"/Inspection Records/Yesterday_Reports_@{string(ticks(utcNow()))}.xlsx","overwrite":true},"authentication":"@parameters('$authentication')"}},"Create_share_link_by_path":{"runAfter":{"Create_copy_of_template_file_and_rename_it":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"path":"@outputs('Create_copy_of_template_file_and_rename_it')?['body/Path']","type":"View","scope":"Anonymous"},"authentication":"@parameters('$authentication')"}},"Delete_the_records_in_the_template":{"foreach":"@outputs('List_rows_present_in_a_template''s_table')?['body/value']","actions":{"Delete_a_row":{"runAfter":{},"metadata":{"01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X":"/Inspection Records/Reports.xlsx","tableId":"{33BD6BBA-6F72-4087-9ABC-0FEE4E8078AC}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!_tkVit5OJEWHcKWYlCKQCIfbMD4BL2VMhSpgcsmve2HDcN4IyPFCSrv8GROP-2KS","file":"01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X","table":"{33BD6BBA-6F72-4087-9ABC-0FEE4E8078AC}","idColumn":"ID","id":"@items('Delete_the_records_in_the_template')?['ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_template's_table":["Succeeded"]},"type":"Foreach"},"List_rows_present_in_a_template's_table":{"runAfter":{"Send_an_email_notification_(V3)":["Succeeded"]},"metadata":{"01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X":"/Inspection Records/Reports.xlsx","tableId":"{33BD6BBA-6F72-4087-9ABC-0FEE4E8078AC}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!_tkVit5OJEWHcKWYlCKQCIfbMD4BL2VMhSpgcsmve2HDcN4IyPFCSrv8GROP-2KS","file":"01LV37P7E7AG7GL6CHSREKJFQJJ6OMDG2X","table":"{33BD6BBA-6F72-4087-9ABC-0FEE4E8078AC}"},"authentication":"@parameters('$authentication')"}},"Create_HTML_table":{"runAfter":{"Create_share_link_by_path":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('User Reports')","format":"HTML"}}},"runAfter":{"User_Reports":["Succeeded"]},"type":"Foreach"},"User_Reports":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"User Reports","type":"array","value":[]}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}