InspectionEvaluation-B42AEEB7-6C38-EB11-A813-000D3A8E4ACE.json
{"properties":{"connectionReferences":{"shared_microsoftforms":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_microsoftforms"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"t3urMF_DcUacCRRgBNZ_m78VEUK0nRVEuqFQo0zjQHFUOFJWSlYxNElLNVdaOFpaVk5KUFA3SFJJWC4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_microsoftforms","operationId":"GetFormResponseById","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"t3urMF_DcUacCRRgBNZ_m78VEUK0nRVEuqFQo0zjQHFUOFJWSlYxNElLNVdaOFpaVk5KUFA3SFJJWC4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"user6@aismpp.onmicrosoft.com;","request/subject":"Negative inspection evaluation","request/text":"<div style=\"border:4px solid Tomato; text-align: center;padding: 25px 25px 25px 25px; background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218-katie-15_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=cfa9788367db2073aaf4695aafd0fbea'); background-size: cover; background-repeat: no-repeat\">\n<h2 style=\"text-align: center;\"><b> Inspection Feedback </b></h2>\n<p><b>From:</b> @{outputs('Get_response_details')?['body/r8646d92662cd4ef4890f59baa73779e8']} </p>\n<p><b>Organisation: </b>@{outputs('Get_response_details')?['body/r04bcbc13525b46a3b5818b5f8026c684']} </p>\n<p> <b>Overall Rating:</b> @{outputs('Get_response_details')?['body/r882d5520191c45eabe16b055a32f83e4']}</p>\n<p> <b>Reschedule Inspection:</b> @{outputs('Get_response_details')?['body/r49b248abfeb448e9839b6c49bba2251e']} </p>\n<p> <b>Comments:</b> @{outputs('Get_response_details')?['body/rb8c7da8775694097986479b98a5748c8']} </p>\n<p style=\"color:Tomato\"> <b><u>The organization is not satisfied with inspection! </b></u></p>\n</div>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_item":["Succeeded"]},"else":{"actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"user6@aismpp.onmicrosoft.com;","request/subject":"Positive Inspection evaluation","request/text":"<div style=\"border:4px solid DodgerBlue; text-align: center;padding: 25px 25px 25px 25px; background-image:url('https://st.depositphotos.com/1126760/4197/v/950/depositphotos_41977161-stock-illustration-pale-soft-pastel-abstract-geometric.jpg'); background-size: cover; background-repeat: no-repeat\">\n<h2 style=\"text-align: center;\"><b> Inspection Feedback </b></h2>\n<p><b>From:</b> @{outputs('Get_response_details')?['body/r8646d92662cd4ef4890f59baa73779e8']}</p>\n<p> <b>Organisation: </b>@{outputs('Get_response_details')?['body/r04bcbc13525b46a3b5818b5f8026c684']} </p>\n<p><b>Overall Rating:</b>@{outputs('Get_response_details')?['body/r882d5520191c45eabe16b055a32f83e4']}</p>\n<p> <b>Reschedule Inspection:</b> @{outputs('Get_response_details')?['body/r49b248abfeb448e9839b6c49bba2251e']} </p>\n<p><b>Comments:</b> @{outputs('Get_response_details')?['body/rb8c7da8775694097986479b98a5748c8']} </p>\n<p style=\"color:DodgerBlue\"> <b><u>The organization is satisfied with inspection!  </b></u></p>\n</div>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"less":["@int(outputs('Get_response_details')?['body/r882d5520191c45eabe16b055a32f83e4'])",4]},{"equals":["@outputs('Get_response_details')?['body/rebbfec6d884a4cbaa37be9f1b4ecc502']","No"]}]},"type":"If"},"Create_item":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://aismpp.sharepoint.com/sites/Inspection","table":"370d1c08-8438-433f-9388-351b3409106b","item/Title":"@outputs('Get_response_details')?['body/r8646d92662cd4ef4890f59baa73779e8']","item/Organisation":"@outputs('Get_response_details')?['body/r04bcbc13525b46a3b5818b5f8026c684']","item/Satisfied":"@equals(outputs('Get_response_details')?['body/rebbfec6d884a4cbaa37be9f1b4ecc502'],'Yes')","item/Comments":"@{outputs('Get_response_details')?['body/rb8c7da8775694097986479b98a5748c8']} ","item/Grade":"@outputs('Get_response_details')?['body/r882d5520191c45eabe16b055a32f83e4']"},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}