InspectionAddEvent-84934B8C-E732-EB11-A813-000D3A8E4ACE.json
{"properties":{"connectionReferences":{"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"ais_inspectionrecords","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_event_(V4)":{"runAfter":{"Inspection_Date":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"V4CalendarPostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AAMkAGEzZmEwZWRkLTYyZDktNDRkOC04YTEyLTUwNmM2ZWQ2MWI5NABGAAAAAACldFRnjKx0Q736fQ01R73iBwAc_3ilYO2QSqgHMF95gxfCAAAAAAEGAAAc_3ilYO2QSqgHMF95gxfCAAAAAFyFAAA=","item/subject":"Inspection Scheduled","item/start":"@addSeconds(outputs('Inspection_Date'),0)","item/end":"@addHours(outputs('Inspection_Date'),2)","item/timeZone":"(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi","item/requiredAttendees":"@triggerOutputs()?['body/ais_inspectedby']","item/body":"<p>Inspection Schedule at @{triggerOutputs()?['body/ais_organisationname']}</p>","item/location":"@triggerOutputs()?['body/ais_inspectionaddress']"},"authentication":"@parameters('$authentication')"}},"Inspection_Date":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/ais_inspectiondate']"},"Update_a_record":{"runAfter":{"Create_event_(V4)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_inspectionrecordses","recordId":"@triggerOutputs()?['body/ais_inspectionrecordsid']","item/ais_calenderid":"@outputs('Create_event_(V4)')?['body/id']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}