InspectionDeleteEvent-40BB27E6-2C37-EB11-A813-000D3A8E4ACE.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Listrecords_FilterQuery":{"type":"string","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).. This parameter is used as part of \"B25146C4-8101-48CA-8010-C46A229FA984\"","x-ms-powerflows-param-ispartial":true}},"required":["Listrecords_FilterQuery"]}}}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_inspectionrecordses","$select":"ais_calenderid,ais_inspectionrecordsid","$filter":"ais_name eq '@{triggerBody()['Listrecords_FilterQuery']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_Record_and_Calender_event":{"actions":{"Delete_event_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"CalendarDeleteItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"calendar":"AAMkAGEzZmEwZWRkLTYyZDktNDRkOC04YTEyLTUwNmM2ZWQ2MWI5NABGAAAAAACldFRnjKx0Q736fQ01R73iBwAc_3ilYO2QSqgHMF95gxfCAAAAAAEGAAAc_3ilYO2QSqgHMF95gxfCAAAAAFyFAAA=","event":"@{outputs('List_records')?['body/value']?[0]['ais_calenderid']} "},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_a_record":{"runAfter":{"Delete_event_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ais_inspectionrecordses","recordId":"@outputs('List_records')?['body/value']?[0]['ais_inspectionrecordsid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records":["Succeeded"]},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Delete_Record_and_Calender_event":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"error":"false"},"schema":{"type":"object","properties":{"error":{"title":"Error","x-ms-dynamically-added":true,"type":"boolean"}}}}},"Respond_to_a_PowerApp_or_flow_2":{"runAfter":{"Delete_Record_and_Calender_event":["Failed"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"error":"true"},"schema":{"type":"object","properties":{"error":{"title":"Error","x-ms-dynamically-added":true,"type":"boolean"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}